body { color: #000091;
       background-color: orange;
       font-family: Arial, Helvetica, san-serif; }
h1  { color: red;
      font-family: Georgia, "Times New Roman", serif; }
a   { background-color: #cccccc }
